<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_style.css') }}">
    <title>MovieSearch</title>
    <link rel="icon" type="image" href="/../static/image/favicon.png">
</head>
<body>
    <div class="container">
        <section>
            <form method="POST">
                <h1>Please enter the name of the movie</h1>
                <div class="input">
                    <label for="movie_input">Movie Name</label>
                    <input type="text" id="movie_input" name="movie" list="movie_list" required>
                    <datalist id="movie_list"></datalist>
                </div>
                <button type="submit">Find movies!</button>
            </form>
        </section>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='background_setter.js') }}"></script>
    <script src="{{ url_for('static', filename='autocomplete.js') }}"></script>
</body>
</html>
